<%= form_for(@customer_ledger) do |f| %>
  <% if @customer_ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_ledger.errors.count, "error") %> prohibited this customer_ledger from being saved:</h2>

      <ul>
      <% @customer_ledger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_amt %><br />
    <%= f.text_field :total_amt %>
  </div>
  <div class="field">
    <%= f.label :customer_bill_id %><br />
    <%= f.number_field :customer_bill_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :money_receipt_id %><br />
    <%= f.number_field :money_receipt_id %>
  </div>
  <div class="field">
    <%= f.label :bill_amt %><br />
    <%= f.text_field :bill_amt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
