<%= form_for(@customer_bill) do |f| %>
  <% if @customer_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_bill.errors.count, "error") %> prohibited this customer_bill from being saved:</h2>

      <ul>
      <% @customer_bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, Customer.all, :id , :name, :prompt => "Select Customer" %>
  </div>
  <div class="field">
    <%= f.label :total_value %><br />
    <%= f.number_field :total_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
